extends layout

block content
    if user
        .game-container
            link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/codemirror@5.57.0/lib/codemirror.min.css')
            link(rel='stylesheet', href='https://cdn.jsdelivr.net/combine/npm/codemirror@5.57.0/lib/codemirror.min.css,npm/codemirror@5.57.0/theme/dracula.min.css')
            link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/codemirror@5.57.0/theme/dracula.min.css')
            script(src="https://cdn.jsdelivr.net/npm/codemirror@5.57.0/lib/codemirror.min.js")
            script(src="https://cdn.jsdelivr.net/combine/npm/codemirror@5.57.0,npm/codemirror@5.57.0/addon/edit/closetag.min.js")
            script(src="https://cdn.jsdelivr.net/npm/codemirror@5.57.0/addon/edit/closetag.min.js")
            script(src="https://cdn.jsdelivr.net/npm/codemirror@5.57.0/mode/xml/xml.min.js")
            script(src="https://cdn.jsdelivr.net/npm/codemirror@5.57.0/mode/css/css.min.js")
            script(src="https://cdn.jsdelivr.net/npm/codemirror@5.57.0/addon/edit/closebrackets.min.js")
            script(src="https://cdn.jsdelivr.net/npm/codemirror@5.57.0/mode/javascript/javascript.min.js")
            .code-area
                textarea(name="js-code" id="js-code")
                input(type="submit" value="EXECUTE" class="button")
                .output output goes here
            .game-area
                p As you come to a clearing in the Elohdir Forest, you see an old-looking scroll against a tree, almost as if someone had left it there intentionally.
                p You pick up the scroll; it's a map! There's no time to look it over, though -- the Rinh Bagh run rampant in these woods. Better stash it for now.
                p We'll need to make an Inventory to place the map in.

                #inventory 
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x
                    .cell x





        script.
            let jsEditor = CodeMirror.fromTextArea(
                document.getElementById("js-code"),
                {
                    mode: "javascript",
                    theme: "dracula",
                    lineNumbers: true,
                    autoCloseBrackets: true,
                }
            );
            jsEditor.setSize(null, 500);

    else
        .inner
                h2 Enter the World of Elk
                p This is the page that will show up when the user is not logged in.
                p This page will be sort of an 'About' page in which a new user can learn more about the game, see screenshots, read testimonials, etc.
                p When the user is logged in, this page will be the game itself.
                br

                h2 Tentative Story Outline
                p Need to come up with some sort of villain. The villain will be the "keeper of secrets". In this case, the secrets are the code of others. Defeating the villain (final boss?) will open up access for the players to view the code other players have input. 
                p You can incorporate the code sharing into the story by saying that there are other parallel worlds of Elk, where other heroes fight the same villain. The villain is using magic to close off the communication with those worlds, to protect himself. 
                p The concept of shared worlds should not be revealed immediately. There should be clues about it throughout the story, such as feeling like you feel someone else's emotions, or hear someone else's voice. 
                p Portray code as a sort of magic all on its own. Although the world is filled with magic, the art of coding has been lost. The player is the hero that must wield the forgotten art of code to defeat the villain. 

                h2 Gameplay Dynamics
                h3 Battle
                p When in battle, you can query the monster to get their stats, resistances, attacks, etc
                p The player will have 3 options on their turn: Attack, Magic, or Item
                h3 Moving Item to your Inventory
                p Should be just filling the Inventory relationship field on the item.  The previous value of the field should be the ID of the monster. This value will be updated to the value of the player ID once the monster has been defeated and their items are being looted. 
                p This functionality can be upgraded via a 'utility skill' in which the player is granted the ability to 'quick loot' the item by clicking it instead of having to manually update the Inventory ID of the item. 
                h3 Gold is automatically moved to Inventory when a monster is defeated
                h3 Each time a player inputs code, it gets saved, and be be clicked to populate into later code input sections
                p Can view other players' saved code (after a certain point, not available right away)